<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roommate Details</title>
</head>
<body>
  <h1>Roommate Details</h1>
  <div>
    <h2>Name: <%= roommate.name %></h2>
    <p>Age: <%= roommate.age %></p>
    <p>Property: <%= roommate.propertyTitle %></p>
    <img src="<%= roommate.image %>" alt="Roommate Image" />
  </div>
</body>
</html>
